
.image {
    width: 1000px;
    
}

.carousel-container {
    padding-top: 50px;
}

.carousel-track {
    display: flex;
    overflow: hidden;
    height: 550px;
    position: relative;
}

.carousel-item {
    padding-left: 35px;
    padding-right: 35px;
    background: rgb(219, 213, 213);
    margin-right: 15px;
    margin-left: 15px;
    position: relative;
    transform: translateX(-960px);
}


.carousel-arrow__right {
    position: absolute;
    width: 125px;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(248, 237, 237, 0.3);
}

.carousel-arrow__left {
    position: absolute;
    width: 125px;
    left: 0;
    top: 0;
    bottom: 0;
    background: rgba(248, 237, 237, 0.3);
}

.carousel-arrow:hover {
    background: rgba(248, 237, 237, 0.8);
    cursor: pointer;
}

